[submodule "submodules/Pilot_6_axis"]
	path = submodules/Pilot_6_axis
	url = git@github.com:X-Lemon-X/Pilot_6_axis.git
[submodule "submodules/ariadna_constants"]
	path = submodules/ariadna_constants
	url = git@github.com:X-Lemon-X/ariadna_constants.git
[submodule "lib/ariadna_constants"]
	path = lib/ariadna_constants
	url = git@github.com:X-Lemon-X/ariadna_constants.git
